.fade-in-down_1s_ease-in-out {
  animation: fade-in-down_1s_ease-in-out 1s ease-in-out;
}

@keyframes fade-in-down_1s_ease-in-out {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}